@charset "utf-8";
/* CSS Document */
body{
	direction:rtl;
	text-shadow:0 0 ;
}
a{

 	text-decoration:none;
 
       
}


p{
	text-align:right;
}
h1{
	text-align:center;
        float:center;
}
h4{
	background-color:#FFC414;
        border: 1px #999 solid;
        padding:5px;
}
.red{
	background-color:#fff;
	text-shadow:0 0 ;
	padding:0;
}
.green{
	background-color:#C5EE53;
        text-align:center;
}
.blue{
	background-color:#339900;
        padding:5px;


}



.coding{
	direction:ltr;
	text-align:right;
	border: 1px #999 solid;
	background:#ADFF2F;
	padding:5px;
}
.center{
	text-align:center;
}
.red2{
	background-color:#FC3;
}
.red3{
	color:#F00;
}
.bch{
	background-color:#FFC414;
}
.red4{
	background-color:#003300;
	color:#000;
	text-shadow:0 0 0 #666;
	width:29%;
	padding:8px 20px 8px 20px;
        float:left;
	text-align:center;
	border-radius: 25px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-0-border-radius: 0px;
}

.right{
	float:right;
}


.left{
	float:left;
}
.center{
	float:center;
}
